menu "Project configuration"

config MIN_BRIGHTNESS
    int "Minimum backlight brightness (%)"
    default 25
    range 0 100

config MAX_BRIGHTNESS
    int "Maximum backlight brightness (%)"
    default 100
    range 0 100

config WIFI_SSID
    string "WiFi SSID"
    default ""

config WIFI_PASSWORD
    string "WiFi Password"
    default ""

config WIFI_PROV_TIMEOUT_MS
    int "WiFi provisioning timeout (ms)"
    default 60000

config UPLOAD_MAX_BYTES
    int "Maximum upload size (bytes)"
    default 1048576

config UPLOAD_AUTH_TOKEN
    string "Upload Authorization token"
    default ""

endmenu
